BR2_arm=y
BR2_cortex_a9=y
BR2_ARM_ENABLE_NEON=y
BR2_ARM_ENABLE_VFP=y
BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_4_19=y
BR2_TARGET_GENERIC_GETTY_PORT="ttyPS0"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/zynq/post-image.sh"
BR2_LINUX_KERNEL=n
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO_UIMAGE=y
BR2_TARGET_UBOOT=n
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_GENIMAGE=y
BR2_PACKAGE_HOST_MTOOLS=y

#BR2_TOOLCHAIN_EXTERNAL=y
#BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
#BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
#BR2_TOOLCHAIN_EXTERNAL_GCC_7=y
#BR2_TOOLCHAIN_EXTERNAL_PATH="/mnt/data/Xilinx/SDK/2018.3/gnu/aarch32/lin/gcc-arm-linux-gnueabi/"
#BR2_PACKAGE_PROVIDES_TOOLCHAIN_EXTERNAL="toolchain-external-custom"
#BR2_TOOLCHAIN_EXTERNAL_PREFIX="arm-linux-gnueabihf"
#BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="arm-linux-gnueabihf"
#BR2_TOOLCHAIN_EXTERNAL_CXX=y

#BR2_TOOLCHAIN_EXTERNAL_HEADERS_4_9=y
#BR2_TOOLCHAIN_EXTERNAL_GLIBC=y
#BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
#BR2_TOOLCHAIN_USES_GLIBC=y
#BR2_USE_WCHAR=y
#BR2_ENABLE_LOCALE=y
#BR2_TOOLCHAIN_HAS_FULL_GETTEXT=y
